prototype/obj/
prototype/bin/
prototype/prototype.as3proj
prototype_networking/obj/
prototype_networking/bin/
server/Serverside Code/Player.IO Test Server Project/bin/
server/Serverside Code/Player.IO Test Server Project/obj/

